$black: #000000;
$blue: #0000FF;
$font-family_1: Arial, Helvetica, sans-serif;

ul {
	font-family: $font-family_1;
	border-bottom: 1px solid #0E86D4;
	height: 48px;
	box-sizing: border-box;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 28px;
	margin: 0;
	list-style-type: none;
	position: relative;
	z-index: 5;
}
li {
	display: inline-block;
	margin-right: 30px;
	color: $black;
	cursor: pointer;
}
.niq-logo {
	width: 188px;
	height: 30px;
	margin-right: 5px;
	
}
.list-items {
	font-size: 16px;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	padding: 10px 0;
	&:hover{
		border-bottom: 4px solid #0E86D4;
	}
}

.icon-right {
	padding: 14px 8px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
.user {
	width: 20px;
	height: 20px;
	padding: 14px 0;
}

.border-class {
	font-weight: 600;
	border-bottom: 4px solid #0E86D4;
}
.left-side {
	display: inline-flex;
	align-items: center;
}
.right-side {
	display: inline-flex;
	align-items: center;
	margin-right: 13px;
	.usericon{
		display: inline-flex;
		align-items: center;
		padding: 0 6px;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

.username {
	margin-right: 0;
	padding: 0 0;
	font-size: 15px;
	font-weight: 600;
}

@media screen and (max-width: 1064px) {
	.overflow {
		display: none;
	}
}