<div class="report-page-footer">
    <span>Source:&nbsp; </span>
    <!-- <div *ngIf="shimmerService.isloading">
        <ngx-skeleton-loader
            [theme]="{ 'height': '100%', 'width': '40vw', 'margin-left':'10px', 'background-color': 'rgb(204,204,204)','border-radius':'20px' }"
            count="1" appearance="line"></ngx-skeleton-loader>
    </div> -->
    <span (click)="OpenDatasetSelector()" class="footer-content">
        <span *ngIf="!openDatasetSelectorService.isDataApplied">Choose a dataset</span>
        <span *ngIf="openDatasetSelectorService.isDataApplied">
            <span>
                {{ openDatasetSelectorService.appliedDataset }}
            </span>
        </span> 

    </span> 
</div>
<app-dataset-selector *ngIf="openDatasetSelectorService.isSelectorOpen"></app-dataset-selector>