<div [class.sidepanel]="sidepanelService.isSidepanelOpen" id="sidepanel">
    <div>
        <ul class="heading">
            <li class="li-left" *ngIf="!sidepanelService.addActive"><strong>{{ sidepanelService.currentSelected }}
                </strong><i class="fa fa-angle-down"></i></li>
            <li class="li-left" *ngIf="sidepanelService.addActive"><strong>{{ sidepanelService.add }} </strong><i
                    class="fa fa-angle-down"></i></li>
            <li class="heading li-right">
                <i class="fa fa-ellipsis-h menubtn"></i><br><i class="closebtn" (click)="sidepanelService.close()">×</i>
            </li>
        </ul>
    </div>
    <div class="sidepanel-content">

        <div *ngIf="!sidepanelService.addActive">
            <div *ngIf="!sidepanelService.addActive" class="heading content-div">
                <p><i class="fa fa-angle-down"></i> Selection</p><i class="fa fa-bars"></i>
            </div>
            {{trueCount()}}
            <div *ngIf="sidepanelService.currentSelected ==='Products'" [ngClass]="{'selected-div':count == 0?false:true}">
                <div class="products-div">
                    <div *ngFor="let select of sidepanelService.getKeys(sidepanelService.currentSelected)" >
                        <div *ngIf="sidepanelService.selectedList[sidepanelService.currentSelected][1][select]" class="selected-elements">
                            <span >{{select}} &nbsp;<i class="fa fa-remove" (click)="trash(sidepanelService.currentSelected,select)"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="sidepanelService.currentSelected !='Products'">
                <div *ngFor="let select of sidepanelService.getKeys(sidepanelService.currentSelected)">
                    <div *ngIf="sidepanelService.selectedList[sidepanelService.currentSelected][1][select]" class="selected-div unselected-elements">
                        <span >{{select}}
                        </span>
                        <i class="fa fa-trash trash i-hover" (click)="trash(sidepanelService.currentSelected,select)"></i>
                    </div>
                </div>
            </div>
            <span class="addbtn" (click)="add(sidepanelService.currentSelected)"><u>+ Add</u></span>
        </div>
        <div *ngIf="sidepanelService.addActive" class="add-content">
            <ul class="heading">
                <li><i (click)="addBack(sidepanelService.add)" class="fa fa-arrow-left click"></i></li>
                <li><button (click)="addDone(sidepanelService.add)" class="btn-primary click">Done</button></li>
            </ul>
            <div *ngFor="let select of sidepanelService.getKeys(sidepanelService.add)">
                <div *ngIf="!sidepanelService.selectedList[sidepanelService.add][1][select]" class="selected-div unselected-elements">
                    <span >{{select}}
                    </span>
                    <i class="fas fa-plus plus i-hover" (click)="plus(sidepanelService.add,select)"></i>
                </div>
            </div>
        </div>
    </div>
</div>