<div [class.sidepanel]="sidepanelService.isSidepanelOpen" id="sidepanel">
    <div>
        <ul class="heading">
            <li class="li-left"><strong>{{ sidepanelService.currentSelected }}
                </strong><i class="fa fa-angle-down"></i></li>
            <li class="heading li-right">
                <i class="fa fa-ellipsis-h menubtn"></i><br><i class="closebtn" (click)="close()">×</i>
            </li>
        </ul>
    </div>
    <div class="sidepanel-content">

        <div *ngIf="!sidepanelService.addActive">
            <div *ngIf="!sidepanelService.addActive" class="heading content-div">
                <p><i class="fa fa-angle-down"></i> Selection</p><i class="fa fa-bars click"></i>
            </div>
        </div>
        <div class="selected-div"></div>
    </div>
</div>