<br>
<app-sidepanel *ngIf = "sidepanelService.isSidepanelOpen" class="sidebar"></app-sidepanel>
<div *ngIf="shimmerService.isloading" style="height: 10px; margin-left: 6px; margin-bottom: 20px;">
  <ngx-skeleton-loader
    [theme]="{ 'height': '100%', 'width': '30vw', 'margin-left':'10px', 'background-color': 'rgb(204,204,204)','border-radius':'20px' }"
    count="1" appearance="line"></ngx-skeleton-loader>
</div>
<div *ngIf="!shimmerService.isloading" class="div1"> 
  <div *ngFor="let item of keys()" class="inline" >&nbsp; 
    {{ content[item][0] }} <a class="openbtn" (click)="openSidepanel(item)"><strong *ngIf="content[item][1].length === 1; else elseBlock"> 
        {{ content[item][1][0] }}</strong>
      <ng-template #elseBlock> <strong> {{content[item][1].length}} {{item}} </strong></ng-template></a> 
  </div> 
  <br><br>
</div> 