$color_1: #262626;
$font-family_1: "arial", "sans-serif";

.div1 {
	font-family: $font-family_1;
  margin: 8px 6px;
}
.inline{
  display: inline-block;
}
.openbtn {
	font-size: 14px;
	cursor: pointer;
	color: $color_1;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	width: fit-content;
	&:hover {
		text-decoration: none;
		border-bottom: 0.5px solid rgb(189, 209, 252);
	}
}



/* .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: scroll;
}
  
.sidebar-heading-ul{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 4px 15px 0px;
}
.sidebar-content{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: scroll;
  margin: 60px 15px 0px;
}

.sidebar-content ul{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menubtn {
  margin-left: 0px;
  padding: 0px 4px 3px 4px;
  font-size: 20px;
  text-decoration: none;
  color: #262626;
  display: block;
}
 
.Sidebar-heading-select {
  padding: 10px;
  font-size: 30px;
  color: #262626;
  display: block;
  border: none;
  outline: none;
}
.closebtn {
  font-size: 30px;
  color: #262626;
  margin: 0px;
  padding: 0px 3px 0px 3px;
  text-decoration: none;
}

.closebtn:hover {
  background-color: rgb(225, 224, 224);
}

.menubtn:hover{
  background-color: rgb(225, 224, 224);
}

#main {
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 30px;}
}

select{
  border: none;
  font-size: 20px;
  font-family: activ grotesk ;
  font-weight: bold;
}

select:hover {
  background-color: rgb(225, 224, 224) ;
} */